---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

/**
 * Post Headers
 */
h1 a {
  color: $text-color;
  text-decoration: none;

  &:visited {
    color: $text-color;
  }

  &:hover {
    text-decoration: none;
  }
}

/*
 * No bullet points in lists
 */
.task-list {
    margin-left: 0;
}
.task-list-item {
    list-style-type: none;
}

/**
 * Style
 */
.site-header {
    border-top-color: #EB6D23;
}
